
[ req ]
prompt                 = no
days                   = 365
distinguished_name     = req_distinguished_name
req_extensions         = v3_req


[ req_distinguished_name ]
countryName            = DK
stateOrProvinceName    = CPH
localityName           = embedded-mqtt
organizationName       = Factbird
organizationalUnitName = Firmware
commonName             = factbird.com
emailAddress           = support@factbird.com

[ v3_req ]
basicConstraints       = CA:false
extendedKeyUsage       = clientAuth
